<p>buttons works!</p>
<div class="content">
    <section>
      <h1>Simple Button</h1>
      <button>Not Material Button</button>
    </section>
    <section>
      <h1>Basic</h1>
      <button mat-button>Basic Material button</button>
      <button mat-button color="primary">Basic Primary button</button>
      <button mat-button color="accent">Basic Seconday button</button>
      <button mat-button color="warn">Basic Warning button</button>
      <button mat-button disabled>Basic Disabled button</button>
    </section>
    <section>
      <h1>Raised</h1>
      <button mat-raised-button>Raised</button>
      <button mat-raised-button color="primary">Raised primary</button>
    </section>
    <section>
      <h1>Icon</h1>
      <button mat-icon-button>
        <mat-icon>cloud</mat-icon>
      </button>
      <button color="primary" mat-icon-button>
        <mat-icon>cloud</mat-icon>
      </button>
    </section>
    <section>
      <h1>FAB</h1>
      <button mat-fab>
        <mat-icon>cloud</mat-icon>
      </button>
      <button mat-fab color="primary">
        <mat-icon>cloud</mat-icon>
      </button>
    </section>
  </div>