<div class="container">
    <mat-form-field>
        <input matInput placeholder="City" [(ngModel)]="location">
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="fromPicker" placeholder="From" (focus)="fromPicker.open()">
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker ></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="toPicker" placeholder="To">
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker startView="year"> </mat-datepicker>
    </mat-form-field>
    
    <button mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
</div>