<div class="root-content mat-app-background" [ngClass]="currentTheme">
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <mat-toolbar-row>
      <a mat-icon-button routerLink="/">
        <mat-icon>cloud</mat-icon>
      </a>
      <span>
        gool Demo
      </span>
      <span class="flexone"></span>

      <mat-form-field>
        <mat-select (selectionChange)="changeTheme($event.value)" [(value)]="currentTheme">
          <mat-option *ngFor="let theme of availableThemes" [value]="theme">
            {{theme}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>