<div class="container">
  <mat-toolbar color="primary" (click)="sidenav.toggle()">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <span class="title">Cool Demo</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="over" (click)="sidenav.toggle()">
      <mat-nav-list>
        <mat-list-item routerLink="/" routerLinkActive="active-list-item">
          <mat-icon matListIcon>hotel</mat-icon>       
          <a matLine> Hotels </a>
        </mat-list-item>
        <mat-list-item routerLink="/flight" routerLinkActive="active-list-item">
          <mat-icon matListIcon>flight</mat-icon>       
          <a matLine> Flights </a>
        </mat-list-item>
        <mat-list-item routerLink="/car" routerLinkActive="active-list-item">
          <mat-icon matListIcon>directions_car</mat-icon>       
          <a matLine> Cars </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <router-outlet></router-outlet>

  </mat-sidenav-container>
</div>