
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-sidenav-container {
    flex: 1;

    mat-sidenav {
        padding: 1rem;
    }
}

.active-list-item {
    color: red;
}