<div [ngClass]="{'unicorn-dark-theme': isDarkTheme}">
  <div class="mat-app-background">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon svgIcon="appservices"></mat-icon>
        </button>

        <span>Cool Demo</span>

        <span class="flexone"></span>

        <mat-slide-toggle (change)="toggleTheme()">
          Change theme
        </mat-slide-toggle>
        <a mat-icon-button routerLink="/settings">
          <mat-icon>account_circle</mat-icon>
        </a>
        <button mat-icon-button>
          <mat-icon fontSet="fa" fontIcon="fa-filter"></mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- <div>       -->
      <!-- <app-demo-datepicker></app-demo-datepicker> -->
      <!-- <app-search-bar></app-search-bar> -->
    <!-- </div> -->
    <router-outlet></router-outlet>
  </div>
</div>