<mat-card>
   <img mat-card-image src="assets/img/elphi.jpg" alt="hotel image">
   <mat-card-content>
    <mat-card-title>{{hotel}}</mat-card-title>
    <mat-card-subtitle>$$$$ Luxuary</mat-card-subtitle>
    <div class="rating">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon>star_border</mat-icon>
    </div>
    <p>
        Hoteliers since 1897, Kempinski has travelled the world in search of the most fascinating destinations without ever forgetting the finest traditions of its European heritage. With heritage hotels, luxury holiday resorts, business and spa hotels around the world, every Kempinski hotel is unique, designed for guests who value five-star holidays and luxury getaways.
    </p>
    <div>
        <mat-icon>local_bar</mat-icon>
        <mat-icon>wifi</mat-icon>
        <mat-icon>restaurant</mat-icon>
    </div>
    <!-- <app-offer></app-offer> -->
    <mat-card-actions align="right">
        <button mat-stroked-button color="primary">INFO & BOOK</button>
    </mat-card-actions>
   </mat-card-content>
</mat-card>