<mat-card>
    <img mat-card-image src="/assets/img/elphi.jpg" alt="hotel image">
    <mat-card-content>
        <mat-card-title>{{hotel}}</mat-card-title>
        <mat-card-subtitle>
            <span>€€€€ Luxury</span>
        </mat-card-subtitle>
        <div class="rating">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star_half</mat-icon>
            <mat-icon>star_border</mat-icon>
        </div>
        
        <p>With heritage hotels, luxury holiday resorts, business and spa hotels around the world, every {{hotel}} hotel
            is unique, designed for guests who value five-star holidays and luxury getaways.</p>

        <div>
            <mat-icon>wifi</mat-icon>
            <mat-icon>restaurant</mat-icon>
            <mat-icon>local_bar</mat-icon>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="primary">INFO & BOOK</button>
    </mat-card-actions>
</mat-card>